.header {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  justify-content: space-between;
}

.logo img {
  width: 200px;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  align-items: center;
}
.nav-items ul li {
  margin: 10px;
}
.nav-items ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.nav-items ul li a:hover {
  color: blue;
}
.body {
  background: rgb(255, 255, 255);
}
.restro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.restro-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.restro-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.restro-card img {
  width: 100%;
  border-radius: 8px;
}
.restro-card h3 {
  margin: 8px 0;
}

.filter {
  margin: 10px;
}
.filter-btn {
  cursor: pointer;
}

.shimmer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.shimmer-card {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}
.login-btn {
  padding: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}
.search {
  margin: 10px;
}
.search-btn {
  margin: 5px;
  cursor: pointer;
}
.restaurant-card {
  text-decoration: none;
  color: inherit;
}
.restaurant-info {
  width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.resSection1 {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 10px;
}
.resInnerCards {
  padding: 5px;
}
.resInnerCards h3 {
  margin: 5px;
}
.top-hading {
  display: flex;
  padding: 0;
  margin: 0;
}
.resSection2 {
  margin-top: 20px;
}
.menu {
  text-align: center;
}
.recommended ul {
  padding: 0;
}
.recommended ul li {
  list-style-type: none;
}
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemRow {
  display: flex;
  margin: 0 0 10px 0;
}
.img-btn img {
  width: 180px;
  border-radius: 8px;
}

.recom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colaps {
  margin-right: 10px;
  cursor: pointer;
}
